/* .list{
    border: 1px solid black

} */
table{
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    width: 25%;
}
td{
    border: 1px solid black;
    table-style-type: disc;
}
